* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BGCOLOR: #070f2b;
  --BGCOLOR-FORM-ELEMENTS: #151f46;

  --BORDER-COLOR: rgba(245, 245, 245, 0.779);

  --COLOR: whitesmoke;
  --COLOR-DIMMED: rgba(245, 245, 245, 0.778);
  --COLOR-LINK: rgb(243, 135, 239);
  --COLOR-LINK-HOVER: rgb(35, 213, 253);
  --COLOR-LINK-ACTIVE: rgb(255, 0, 170);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--BGCOLOR);
  color: var(--COLOR);
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 0 5% 5%;
}

/* General */
.margin-top-1 {
  margin-top: 1em;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  font: inherit;
  margin-bottom: 1em;
  background-color: var(--BGCOLOR-FORM-ELEMENTS);
  color: var(--COLOR-DIMMED);
}

button {
  cursor: pointer;
  font: inherit;
  font-size: 1.5rem;

  margin-bottom: 1em;
  margin-right: 0.5em;
  padding: 0.2em;
}

a {
  color: var(--COLOR-LINK);
}

a:hover {
  color: var(--COLOR-LINK-HOVER);
}

a,
a:visited {
  text-decoration: none;
}
.active,
.active:hover {
  color: var(--COLOR-LINK-ACTIVE);
}

.main-container {
  min-width: 300px;
  max-width: 600px;

  margin: auto;
}

/* Header */

.nav-bar {
  display: flex;
}

.nav-bar__box {
  margin-right: 20px;
}
.nav-bar__box a {
  font-weight: 100;
  font-size: 1rem;
}

/* Posts */

.post {
  margin: 0.5em 0;
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 10px;
  padding: 1em;
}

.post__content {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

.post__info {
  font-size: 1rem;
  color: var(--COLOR-DIMMED);
}

.post-form label {
  margin-bottom: 0.5em;
}

.reaction-button {
  font-size: 1rem;
  color: var(--COLOR);
  background: transparent;
  margin: 0.25em;
  border: none;

  cursor: pointer;
}

.delete-button {
  background-color: rgb(245, 23, 23);
  color: white;
}
